<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.leckie.demo" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ListViewActivity"
            android:label="@string/title_activity_list_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activity.ListViewLoader"
            android:label="@string/title_activity_list_view_loader"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".activity.GridViewActivity"
            android:label="@string/title_activity_grid_view" />
        <activity
            android:name=".activity.ImageViewActivity"
            android:label="@string/title_activity_image_view" />
        <activity
            android:name=".activity.FragmentActivity"
            android:label="@string/title_activity_fragment" />
        <activity
            android:name=".activity.LifecycleActivity"
            android:label="@string/title_activity_lifecycle" />
        <activity
            android:name=".activity.DrawBallActivity"
            android:label="@string/title_activity_draw_ball" />
        <activity
            android:name=".activity.MovementActivity"
            android:label="@string/title_activity_movement" />
        <activity
            android:name=".activity.SurfaceActivity"
            android:label="@string/title_activity_surface" />
        <activity
            android:name=".activity.MoveableActivity"
            android:label="@string/title_activity_moveable" />
        <activity
            android:name=".activity.GreenDaoActivity"
            android:label="@string/title_activity_green_dao" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="bats#wawo" />
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service android:name="com.easemob.chat.EMChatService" />

        <activity
            android:name=".activity.SlidingMenuActivity"
            android:label="@string/title_activity_sliding_menu" />
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" />
        <activity
            android:name=".activity.StaggeredGridLayoutActivity"
            android:label="@string/title_activity_recycler_view" />
        <activity
            android:name=".activity.AsyncActivity"
            android:label="@string/title_activity_async" />
        <activity
            android:name=".activity.VideoWayActivity"
            android:label="Video Player" />
        <activity
            android:name=".activity.VideoViewActivity"
            android:label="@string/title_activity_video_view" >
        </activity>
        <activity
            android:name=".activity.BlankActivityWithFragmentActivity"
            android:label="@string/title_activity_blank_activity_with_fragment" >
        </activity>
        <activity
            android:name=".activity.MainActivity2Activity"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name=".activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activity.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.leckie.demo.activity.ItemListActivity" />
        </activity>
        <activity
            android:name=".activity.TabbedDemoActivity"
            android:label="@string/title_activity_tabbed_demo" >
        </activity>
    </application>

</manifest>
